---
layout: base
eleventyImport:
  collections: ["brandsSorted"]
---

{{ content }}
<div class="brands">
  {%- for brand in collections.brandsSorted -%}
    <div class="brand brand-{{ brand.data.page.fileSlug }}">
      {{ brand.content }}
    </div>
  {%- endfor -%}
</div>