{% set pages = collections.header | eleventyNavigation %}
<header>
  <div class="header-inner responsive-wrapper">
    <a href="/">{% logo preTitle = "THE",
      postTitle = "COMPANY" | safe %}</a>
    <nav class="header-nav">
      <ul role="list" class="nav-list">
        {%- for entry in pages %}
          <li class="{{ 'active' if entry.url == page.url }}">
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </nav>
  </div>
</header>