{{ define "main" }}

{{ .Content }}

<div class="brands">
{{ with .Site.GetPage "/brands" }}
  {{ range .Pages }}
      <a {{ if .Draft }}draft{{ end }} class="brand brand-{{ .File.ContentBaseName }}" href="{{ .Params.link }}">
        {{ if .Params.logo.color }}
        {{ partial "logo.html" .Params.logo }}
        {{ else }}
        {{ partial .Params.logo.file  }}
        {{ end }}
      <div class="brand--content">
      {{ .Content }}
      </div>
    </a>
  {{ end }}
{{ end }}
</div>

{{ end }}