.brands {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
  justify-content: space-between;
  .brand {
    flex-basis: 300px;
    // max-width: 300px;
    border: 1px solid black;
    flex-grow: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    gap: 0.5rem;
    align-items: center;
    p {
      padding: 0.1rem 0.5rem;
      margin: 0;
      font-weight: 400;
      em {
        font-size: smaller;
      }
    }
    a {
      width:min-content;
      min-height: 110px;
      scale: 0.8;
    }
  }
}

.brand-divezone {
  background-color: lightcyan;
}

.brand-devzone, .brand-devzone-one {
  background-color: lightyellow;
}

.brand-rivieramaya {
  background-color: mistyrose;
}