.brands {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
  justify-content: space-between;
  .brand {
    flex-basis: 300px;
    flex-grow: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    gap: 0.5rem;
    align-items: center;
    p {
      padding: 0.1rem 0.5rem;
      margin: 0;
      font-weight: 400;
      em {
        font-size: smaller;
      }
    }
    a {
      width: min-content;
      min-height: 110px;
      scale: 0.8;
    }
  }
}

.brand-divezone {
  border: 1px solid var(--theme-blue-primary);
  background-color: var(--theme-blue-background-secondary);
}

.brand-devzone,
.brand-devzone-one {
  border: 1px solid var(--theme-green-primary);
  background-color: var(--theme-green-background-secondary);
}

.brand-rivieramaya {
  border: 1px solid var(--theme-red-primary);
  background-color: var(--theme-red-background-secondary);
}
