footer {
  background-color: darkblue;
}

.footer-inner {
  color: white;
  font-size: var(--fs-300);
  font-weight: 400;
}

.footer-socials {
  a {
    color: white;
    font-size: var(--fs-500);
    text-decoration: none;
  }
  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
  }
}

.footer-nav {
  ul {
    font-size: var(--fs-300);
    a {
      color: white;
    }
  }
}
