header {
  background-color: lightblue;
  box-shadow: 0 4px 4px -4px lightblue;
}

.header-nav {
  ul {
    text-transform: uppercase;
    font-size: var(--fs-400);
    font-weight: 400;
    a {
      color: darkblue;
    }
  }
}
