.name-logo-dive,
.name-logo-dev {
  font-family: 'Nunito', sans-serif;
  display: grid;
  grid-template:
    'preTitle .'
    'titlePart1 titlePart2'
    '. postTitle'
    'slogan slogan';
}

a:link,
a:hover,
a:active,
a:visited {
  &:has(.name-logo-dive),
  &:has(.name-logo-dev) {
    text-decoration: none;
  }
}

.name-logo-pretitle {
  grid-area: 'preTitle';
  padding-left: 0.4em;
  text-align: left;
}

.name-logo-posttitle {
  padding: 0 0.2em;
  grid-area: 'postTitle';
  display: flex;
  justify-content: space-between;
}

.name-logo-pretitle,
.name-logo-posttitle {
  font-size: 16px;
  line-height: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.name-logo-titlePart1 {
  grid-area: 'titlePart1';
  font-weight: 700;
}

.name-logo-titlePart2 {
  grid-area: 'titlePart2';
  font-weight: 300;
}

.name-logo-titlePart1,
.name-logo-titlePart2 {
  font-size: 72px;
  line-height: 58px;
  height: 59px;
}

.name-logo-slogan {
  grid-area: 'slogan';
  grid-column: 1 / span 2;
  margin-top: 4px;
  padding-top: 4px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.name-logo-dive {
  .name-logo-pretitle,
  .name-logo-posttitle {
    color: darkblue;
  }

  .name-logo-titlePart1 {
    color: blue;
  }

  .name-logo-titlePart2 {
    color: darkblue;
  }

  .name-logo-slogan {
    border-top: 1px solid darkblue;
    color: darkblue;
  }
}

.name-logo-dev {
  .name-logo-pretitle,
  .name-logo-posttitle {
    color: darkgreen;
  }
  .name-logo-titlePart1 {
    color: olivedrab;
  }

  .name-logo-titlePart2 {
    color: darkgreen;
  }

  .name-logo-slogan {
    border-top: 1px solid darkgreen;
    color: darkgreen;
  }
}
