main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

main {
  h1,
  h2,
  h3,
  p,
  form {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 900px) {
  main {
    h1,
    h2,
    h3,
    p,
    form {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}
