---
title: DevZone.one
draft: true
order: 11
---

<a href="https://devzone.one/?utm_source=divezone.company&utm_medium=link&utm_campaign=internal" target="blank">
    {% include 'components/logo', titlePart1: "DEV",
    postTitle: " ONE ",
    slogan: "Development Blog", rootColor: 'green' %}
</a>
<div>
    {% renderTemplate "md" %}
Our tech blog with articles we run into in our projects. This are coding articles, but also
other kind of articles, for example our takes on intake interviews.
{% endrenderTemplate %}
</div>