---
title: DevZone Solutions
order: 10
_image: laptop.jpg
---

<a href="https://devzone.solutions" target="blank">
    {% logo titlePart1 = "DEV",
    postTitle = "SOLUTIONS" | safe %}
</a>
<div>
    {% renderTemplate "md" %}
> ***No nonsense development.***

High tech consultancy in IT development specialized in Java backend services, 
Angular Front-end applications and Flutter based mobile apps.<br>
And yes, the name is nerdy wordplay of our DiveZone brand!

{% endrenderTemplate %}
</div>