---
title: DevZone.one
order: 11
_image: matrix.jpg
---

<a href="https://devzone.one/?utm_source=divezone.company&utm_medium=link&utm_campaign=internal" target="blank">
    {% include 'components/logo', titlePart1: "DEV",
    postTitle: "ONE",
    slogan: "Development Blog" %}
</a>
<div>
    {% renderTemplate "md" %}
Our tech blog with articles we run into in our projects. This are coding articles, but also
other kind of articles, for example our takes on intake interviews.
{% endrenderTemplate %}
</div>