---
title: DevZone.one
order: 11
_image: matrix.jpg
---

<a href="https://devzone.one" target="blank">
    {% logo titlePart1 = "DEV",
    postTitle = " ONE " | safe %}
</a>
<div>
    {% renderTemplate "md" %}
> **Development Blog**

Our tech blog with articles we run into in our projects. This are coding articles, but also
other kind of articles, for example our takes on intake interviews.

{% endrenderTemplate %}
</div>