---
layout: base.njk
description: Let's Dive Into The Zone!
tags: header
eleventyNavigation:
  key: Home
  order: 0
eleventyImport:
  collections: ["brandsSorted"]
---

<main>
  {% renderFile "./src/site/_fragments/intro.md" %}
</main>
<div class="brands">
  {%- for brand in collections.brandsSorted -%}
    <div
      class="brand brand-{{ brand.data.page.fileSlug }}"
      style="background-image: url('/images/{{ brand.data._image }}')">
      {{ brand.content | safe }}
    </div>
  {%- endfor -%}
</div>
