.formatted-name {
  font-family: "Nunito", sans-serif;
  color: darkblue;
  font-weight: 100;
}

.formatted-name-first {
  font-weight: 700;
  color: blue;
}

.formatted-name-second {
  font-weight: 300;
}
