.formatted-name {
  font-family: var(--font-nunito);
  color: var(--theme-blue-primary);
  font-weight: 100;
}

.formatted-name-first {
  font-weight: 700;
  color: var(--theme-blue-secondary);
}

.formatted-name-second {
  font-weight: 300;
}
